<div id="container">

  <div id="form">
    <form (submit)="addOrUpdate(username.value, mail.value)">
      <label for="username">username: </label>
      <input type="text" id="username" name="username" #username [(ngModel)]='inputUsername'>

      <label for="mail">mail: </label>
      <input type="text" id="mail" name="mail" #mail [(ngModel)]='inputMail'><br>

      <button id="add" (click)="addOrUpdate(username.value, mail.value)">{{add ? "add user" : "update user"}}</button>
    </form>
  </div>

  <div id="table">
    <table>
      <thead>
      <tr>
        <td>username</td>
        <td>mail</td>
        <td></td>
        <td></td>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let entry of users | keys">
        <td><span>{{entry.value.username}}</span></td>
        <td><span>{{entry.value.mail}}</span></td>
        <td><button id="delete" (click)="deleteUser(entry.value.username)">delete</button></td>
        <td>
          <button id="update" (click)="update(entry.value.username, entry.value.mail)">
            update
          </button>
        </td>
      </tr>
      </tbody>
    </table>
  </div>

</div>
