#container {
  margin: 0 auto;
}

#form {
  border-radius: 5px;
  background-color: #f2f2f2;
  width: 25%;
  padding: 20px;
  margin: 0 auto;
}

label {
  display: inline-block;
  width: 140px;
  text-align: left;
}

input {
  border-radius: 5px;
  height: 30px;
  width: 100%;
}

button {
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  width: 100%;
}


#sign-in {
  background-color: #4CAF50;
}

#sign-in:hover {
  background-color: #45a049;
}
