<!-- Static navbar -->
<nav class="navbar navbar-default navbar-static-top">
  <div class="container">
    <div class="navbar-header">
      <span class="navbar-brand">Calendar</span>
    </div>

    <div id="navbar" class="navbar-collapse collapse">
      <ul class="nav navbar-nav navbar-right">
        <span class="navbar-brand">logged as {{loggedUser.mail}}</span>
        <li class="dropdown">
          <a href="http://localhost:1234/user/#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Account<span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="http://localhost:1234/user/#">log-out</a></li>
          </ul>
        </li>
      </ul>
    </div><!--/.nav-collapse -->
  </div><!--/.container -->
</nav>

<div class="container">
  <div class="panel panel-default">
      <table class="table table-bordered">
        <thead>
        <tr class="info">
          <th class="col-md-1"></th>
          <th class="col-md-5">Description</th>
          <th class="col-md-3">Date</th>
          <th class="col-md-3">Importance</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let event of events; let index = index">
          <td class="col-md-1" class="dropdown">
            <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
              <a href="">
                {{index + 1}}. <span class="glyphicon glyphicon-edit"></span>
              </a>
            </a>
            <ul class="dropdown-menu">
              <li><a (click)="deleteEvent(event)">delete</a></li>
            </ul>
          </td>
          <!--<td (click)="_template = Template.INPUT">-->
            <!--<div [ngSwitch]="template">-->
              <!--<div *ngSwitchCase="Template.SPAN">-->
                <!--Meeting with Patric-->
              <!--</div>-->
              <!--<div *ngSwitchCase="Template.INPUT">-->
                <!--<input type="text" class="form-control">-->
              <!--</div>-->
            <!--</div>-->
          <!--</td>-->

          <td class="col-md-5">{{event.description}}</td>
          <td class="col-md-3">{{event.eventDate | date:'yyyy-MM-dd'}}</td>
          <td class="col-md-3">
            <div [ngSwitch]="event.importance">
              <div *ngSwitchCase="1" class="p-3 mb-2 bg-success text-success">
                lazy
              </div>
              <div *ngSwitchCase="2" class="p-3 mb-2 bg-warning text-warning">
                important
              </div>
              <div *ngSwitchCase="3" class="p-3 mb-2 bg-danger text-danger">
                very important
              </div>
            </div>
          </td>
        </tr>
        </tbody>
      </table>
  </div>
  <hr />

    <div class="panel panel-default">
      <div class="panel-heading">
        Event form
      </div>
      <div class="panel-body">
        <form>
          <div class="row">
            <div class="form-group col-md-4">
              <label for="description" class="control-label">Description:</label>
              <input type="text" class="form-control" rows="1" maxlength="50" id="description" name="description" #description required="true">
            </div>
            <div class="form-group col-md-4">
              <label for="event_date" class="control-label">Event date:</label>
              <input class="form-control" id="event_date" name="date" placeholder="/DD/MM/YYYY" type="date" #date/>
            </div>
            <div class="form-group col-md-4">
              <label for="sel1">Select importance:</label>
              <select class="form-control" id="sel1" #importance>
                <option class="p-3 mb-2"></option>
                <option class="p-3 mb-2 bg-success text-white">lazy</option>
                <option class="p-3 mb-2 bg-danger text-white">very important</option>
                <option class="p-3 mb-2 bg-warning text-white">important</option>
              </select>
            </div>
          </div>
        </form>

        <div class="row">
          <div class="col-md-4">
            <hr/>
            <button type="submit" class="btn btn-info btn-lg" (click)="addEvent(description.value, date.value, importance.value)">Add event</button>
          </div>
        </div>
      </div>
    </div>

  <hr/>

</div>
