<!-- Static navbar -->
<nav class="navbar navbar-default navbar-static-top">
  <div class="container">

    <div class="navbar-header">
      <span class="navbar-brand">Calendar</span>
    </div>

    <div id="navbar" class="navbar-collapse collapse">
      <ul class="nav navbar-nav">
        <li class="active"><a href="/home">Home</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li><a href="/register"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
        <li><a href="/login"><span class="glyphicon glyphicon-log-in"></span> Sign In</a></li>
      </ul>
    </div><!--/.nav-collapse -->
  </div><!--/.container -->
</nav>

<div class="container">
  <div class="col-md-offset-0 col-md-4">
    <h1 class="mt-4">
      About
    </h1>
    <p>
      Lets organise your day with a few quick steps ! Easy and simple interface,
      just type description for information - it is really flexible. If you want memorise
      some event type also date. You'll get information for facebook or email with reminding.
    </p>
  </div>

  <div class="col-md-offset-0 col-md-4">
    <h1 class="mt-4">
      Get started
    </h1>
    <p>
      Go to the sign up section and fulfill only necessary information like email and password
      It is just it !
    </p>
  </div>
</div>

<footer class="footer">
  <div class="container">
    <div class="text-center">
      <p class="text-muted">@Copyright Wieczorek all rights reserved 2017</p>
    </div>
  </div>
</footer>
